{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! =====================================================
selectors1
===================================================== }}

{{! <style>
  h1 { color: black; }
</style>

<div class='p-5 box'>
  1
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <br />
  2
  <h1 style='color: yellow'>USB хаб Type C 12 в 1 HDMI VGA
    AUX 3.5 mm</h1>
  <br />
  3
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  ! Browser's console: user.style.background = "red"
  <br />
  4
  <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>
  <br />
  5
  <button type='button' class='btn'>Купити</button>
  <br />
  6
  <button type='button' class='button'>Купити</button>
  <br />
  <br />
  7
  <button
    type='button'
    class='btn btn-primary'
  >Купити</button>

  8
  <h1 class='button'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5
    mm</h1>
  <br />
  9
  <button
    type='button'
    class='button'
    id='button'
  >Купити</button>
  <br />

  <hr />

  10
  <p>
    This is text
  </p>

</div>

<section class='p-5 box'>
  11.1
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <br />
  11.2
  <h1 style='color: yellow'>USB хаб Type C 12 в 1 HDMI VGA
    AUX 3.5 mm</h1>
  <br />
  11.3
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  Browser's console: user.style.background = "red"
  <br />
  11.4
  <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>
  <br />

  11.5
  <button
    type='button'
    class='button'
    id='button'
  >Купити</button>
  <br />

  <hr />

  11.6
  <p class='user'>
    Summary text
  </p>

</section>
12
<footer class='p-5 box'>
  <h1 class='button'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5
    mm</h1>
  <br />
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <br />
  <p class='user'>
    Summary text
  </p>
  <p class='user'>
    Summary text
    <br />
    <em>
      Test EM
    </em>
    <br />
    <em class='child'>
      Test EM
    </em>
  </p>
  <div>
    <div>
      <em class='child'>
        Test EM
      </em>
    </div>
  </div>
</footer>
13
<section class='p-5 box'>
  <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>
  <p>Link</p>
</section>

<section class='p-5 box'>
  <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>
  <p>Link</p>
</section>

<section class='p-5 box'>
  <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  <em class='test'>test</em>
  <p>Link</p>
</section>

<br />
14
<section class='p-5 box'>
  <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  <p>Link</p>
  <em class='test'>test</em>
  <p>Link</p>
  <div>
    <p>Link</p>
  </div>
</section> }}

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}

{{! =====================================================
selectors2
===================================================== }}

{{! 1
<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item item-first'>1</li>
    <li class='item'>2</li>
    <li class='item'>3</li>
    <li class='item'>4</li>
  </ul>

  <div class='item'>div1</div>
  <div class='item'>div2</div>
  <div class='item'>div3</div>
  <div class='item'>div4</div>
</div>
2
<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1</li>
    <li class='item'>2</li>
    <li class='item'>3</li>
    <li class='item'>4</li>
  </ul>

  <div class='item'>div1</div>
  <div class='item'>div2</div>
  <div class='item'>div3</div>
  <div class='item'>div4</div>
</div>
3
<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'><b>1</b></li>
  </ul>

  <div class='item'>div1</div>
  <div class='item'>div2</div>
  <div class='item'>div3</div>
  <div class='item'>div4</div>
</div>
4
<div class='card p-5 m-5 card-dark'>
  <div class='item'>div1</div>
  <div class='item'>div2</div>
  <div class='item'>div3</div>
  <div class='item'>div4</div>

  <ul>
    <li class='item'><b>1</b></li>
  </ul>

  <div class='item'>div5</div>
</div>
5
<div class='card p-5 m-5 card-dark'>
  <div class='item'>div1</div>
  <p class='item'>div2</p>
  <article class='item'>div3</article>
  <div class='item'>div4</div>
  <p class='item'>div2</p>
  <article class='item'>div3</article>
</div>
6
<div class='card p-5 m-5 card-dark'>
  <div class='item'>div1</div>
  <p class='item'>div2</p>
  <article class='item'>div3</article>
  <div class='item'>div4</div>
  <p class='item'>div2</p>
  <article class='item'>div3</article>
</div>
7
<div class='card p-5 m-5 card-dark'>
  <div class='item'>div1</div>
  <p class='item'>p1</p>
  <article class='item'>a3</article>
  <strong class='item'>Test strong</strong>
  <div class='item'>div2</div>
  <p class='item'>div2</p>
  <article class='item'>div3</article>
  <div class='item'>div3</div>
  <div class='item'>div4</div>
  <div class='item'>div5</div>
  <div class='item'>div6</div>
  <p>Not </p>
  <p>Not </p>
  <p>Not </p>
  <p>a</p>
  <p> </p>
  <p></p>
</div> }}

{{! =====================================================
selectors3
===================================================== }}
1
<div class='card p-5 m-5 card-dark'>
  <input class='input-dark' required />
  <input class='input-dark' />
</div>
2
<div class='card p-5 m-5 card-dark'>
  <input class='input-dark input-dark-required' />
  <input class='input-dark' />
</div>
3
<div class='card p-5 m-5 card-dark'>
  <input class='input-dark input-dark-required' />
  <input class='input-dark' type='number' />
</div>
4
<div class='card p-5 m-5 card-dark'>
  <img
    src='https://picsum.photos/seed/picsum/200/300'
    alt='image small card 100px'
    class='small-img'
    height='100px'
    width='150px'
  />
</div>
5
<div class='card p-5 m-5 card-dark img'>
  <img
    src='https://picsum.photos/seed/picsum/200/300'
    alt='image small card 100px'
    class='small-img'
    height='100px'
    width='150px'
  />
</div>

6
<div class='card p-5 m-5 card-dark'>
  <img
    src='https://picsum.photos/seed/picsum/200/300'
    alt='image small card 100px'
    class='small-img'
    height='100px'
    width='150px'
  />

  <a
    href='https://picsum.photos/200/300'
    rel='external'
  >Link</a>
</div>
7
<div class='p-5 m-5 card card-dark'>
  <button class='btn'>btn</button>
  <br />
  <button class='btn btn-primary'>btn btn-primary</button>
  <br />
  <button class='btn-primary'>btn-primary</button>
  <br />
  <button class='btn-secondary'>btn-secondary</button>
</div>
8
<div class='p-5 m-5 card card-dark'>
  <button class='btn'>btn</button>
</div>

9
<div class='p-5 m-5 card card-dark'>
  <p class='big-text'>This is a first-line This is a
    <br />
    first-line This is a first-line This is a first-line
    This is a first-line This is a first-line This is a
    first-line This is a first-line This is a first-line
    This is a first-line This is a first-line This is a
    first-line</p>
</div>
10
<div class='card p-5 m-5 card-dark'>
  <input
    class='input-dark p-3'
    placeholder='This is a text'
    required
  />
</div>
11
<div class='p-5 m-5 card card-dark'>
  <p class='before-after'>
    This is a first-line This is a
    <br />
    first-line This is a first-line This is a first-line
    This is a first-line This is a first-line This is a
    first-line This is a first-line This is a first-line
    This is a first-line This is a first-line This is a
    first-line
  </p>
</div>
12
<div class='p-5 m-5 card card-dark'>
  <button class='btn before-after'>btn</button>
</div>