{{! lesson8 }}

<main class='p-5'>
  <div class='card p-5'>
    <p id='test'>
      Hello World! Hello World! Hello World! Hello World!
      Hello World!
    </p>
    {{! <span class='span-b test'>Test</span> }}
    <span class='test'>Test</span>
  </div>

  <span class='test'>Test</span>

  <pre> Pre-text</pre>
</main>

{{! <div>
  <p class='exampleText'>Example text</p>
</div> }}

{{! lesson9 }}

{{! lesson10 }}
<div>1</div>
<span class='test'>Test lesson10</span>

<div>2</div>
<div>Block</div>
<div>Block</div>
<div>Block</div>

<div>3</div>
<span class='block'>Inline-Block</span>
<span class='inline-block'>Inline-Block as block</span>
<span>Inline</span>

<p>4</p>
{{!-- <div style='margin: 10px 30px 100px 200px'> --}}
<div style='margin: 50px'></div>
  <span>Inline</span>
  <span>Inline</span>
  <span>Inline</span>

  <span class='inline-block'>Inline-Block</span>
</div>

<p>5</p>
{{!-- <div style='margin: 10px 30px 100px 200px'> --}}
<div style='margin: 50px'></div>
  <span>Inline</span>
  <span>Inline</span>
  <span>Inline</span>

  <span class='block'>Block</span>
</div>

<p>6</p>
{{!-- <div style='padding: 10px 30px 100px 200px'> --}}
<div style='padding: 50px'></div>
  <span>Inline</span>
  <span>Inline</span>
  <span>Inline</span>

  <span class='block'>Block</span>
</div>